<h3>Retailer</h3>
<br>
<div class="row">
  <div class="col-md-2">
    <!-- <button class="btn btn-dark" data-toggle="modal" data-target="#assetModal">Update Asset</button> -->
  </div>
  <div class="col-md-2">
  </div>
  <div class="col-md-8"></div>
</div>
<br />
<div class="row">
  <div class="col-md-12">
    <table class="table table-striped text-center">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Asset #</th>
          <th scope="col">Asset Name</th>
          <th scope="col">QR</th>
          <!-- <th scope="col">Transaction #</th> -->
          <th scope="col">Box ID</th>
          <th scope="col">Consignment ID</th>
          <th scope="col">Owner</th>
          <th scope="col">Mfg Date</th>
          <!-- <th scope="col">Actions</th> -->
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let asset of assets">
          <th scope="row">{{asset.Record.assetid}}</th>
          <td>{{asset.Record.assetname}}</td>
          <td>{{asset.Record.qrid}}</td>
          <td>{{asset.Record.boxid}}</td>
          <td>{{asset.Record.consignmentid}}</td>
          <td>{{asset.Record.RetailerOwner}}</td>
          <td>{{asset.Record.MfgDate}}</td>          
        <!-- <td>
            <button class="btn btn-dark" data-toggle="modal" data-target="#transferAssetModal" (click)="generateUpdateAssetDetails(asset)">Update Asset</button>
        </td> -->
        </tr>
      </tbody>
    </table>
  </div>
</div>
