<h3>Retailer</h3>
<br>
<div class="row">
  <div class="col-md-2">
    <!-- <button class="btn btn-dark" data-toggle="modal" data-target="#assetModal">Update Asset</button> -->
  </div>
  <div class="col-md-2">
  </div>
  <div class="col-md-8"></div>
</div>
<br />
<div class="row">
  <div class="col-md-12">
    <table class="table table-striped text-center">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Asset #</th>
          <th scope="col">Asset Name</th>
          <th scope="col">QR</th>
          <!-- <th scope="col">Transaction #</th> -->
          <th scope="col">Box ID</th>
          <th scope="col">Consignment ID</th>
          <th scope="col">Owner</th>
          <th scope="col">Mfg Date</th>
          <th scope="col">Status</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Lymparza</td>
          <td>B26fhsbh37rh41nbf47ab7hahb313ba</td>
          <td>B126</td>
          <td>C432</td>
          <td>AstraZeneca</td>
          <td>14/05/2018</td>
          <td>Active</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Diovan</td>
          <td>e1nbf47ab7hahb313baB26fhsbh37rh</td>
          <td>B176</td>
          <td>C884</td>
          <td>Novartis</td>
          <td>02/02/2019</td>
          <td>Active</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
