<!--The content below is only a placeholder and can be replaced.-->

<!-- Navigation -->
<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
  <div class="container">
    <a class="navbar-brand" href="index.html">PharmBlock</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive"
      aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
          <li class="nav-item">
              <a class="nav-link" style="color:white" routerLink="/track">Track</a>
            </li>
        <li class="nav-item">
          <a class="nav-link" style="color:white" routerLink="/manufacturer">Manufacturer</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="color:white" routerLink="/distributer">Distributor</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="color:white" routerLink="/wholesaler">Wholesaler</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="color:white" routerLink="/retailer">Retailer</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- Page Content -->
<div class="container">
  <br>
  <br>
  <br>
  <!-- <h2 class="my-4">Welcome to Drug Trace</h2> -->
  <router-outlet></router-outlet>
  <br>
</div>