<h3>Distributor</h3>
<br>
<div class="row">
  <div class="col-md-2">
    <button class="btn btn-dark" data-toggle="modal" data-target="#transferAssetModal">Update Asset</button>
  </div>
  <div class="col-md-2">
  </div>
  <div class="col-md-8"></div>
</div>
<br />
<div class="row">
  <div class="col-md-12">
    <table class="table table-striped text-center">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Asset #</th>
          <th scope="col">Asset Name</th>
          <th scope="col">QR</th>
          <!-- <th scope="col">Transaction #</th> -->
          <th scope="col">Box ID</th>
          <th scope="col">Consignment ID</th>
          <th scope="col">Owner</th>
          <th scope="col">Mfg Date</th>
          <th scope="col">Status</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Lymparza</td>
          <td>B26fhsbh37rh41nbf47ab7hahb313ba</td>
          <td>B126</td>
          <td>C432</td>
          <td>AstraZeneca</td>
          <td>14/05/2018</td>
          <td>Active</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Diovan</td>
          <td>e1nbf47ab7hahb313baB26fhsbh37rh</td>
          <td>B176</td>
          <td>C884</td>
          <td>Novartis</td>
          <td>02/02/2019</td>
          <td>Active</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<!-- Asset Modal -->
<div class="modal fade" id="transferAssetModal" tabindex="-1" role="dialog" aria-labelledby="transferAssetModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="assetModalLabel">Asset Details</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row form-inline">
          <div class="col-md-1"></div>
          <div class="col-md-3">Asset #</div>
          <div class="col-md-5"><input type="text" id="assetId" class="form-control" disabled /></div>
          <div class="col-md-3"></div>
        </div>
        <br>
        <div class="row form-inline">
          <div class="col-md-1"></div>
          <div class="col-md-3">Asset Name</div>
          <div class="col-md-5"><input type="text" id="assetName" class="form-control" disabled /></div>
          <div class="col-md-3"></div>
        </div>
        <br>
        <div class="row form-inline">
          <div class="col-md-1"></div>
          <div class="col-md-3">Owner</div>
          <div class="col-md-5"><input type="text" id="ownerId" class="form-control" disabled /></div>
          <div class="col-md-3"></div>
        </div>
        <br>
        <div class="row form-inline">
          <div class="col-md-1"></div>
          <div class="col-md-3">Owner Role</div>
          <div class="col-md-5"><input type="text" id="ownerRole" class="form-control" disabled /></div>
          <div class="col-md-3"></div>
        </div>
        <br>
        <div class="row form-inline">
          <div class="col-md-1"></div>
          <div class="col-md-3">Wholesaler</div>
          <div class="col-md-5">
            <select id="distList" class="form-control">
              <option>Select Wholesaler</option>
              <option>WholeSaler1</option>
              <option>WholeSaler2</option>
              <option>WholeSaler3</option>
            </select>
          </div>
          <div class="col-md-3"></div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-dark">Transfer Asset</button>
      </div>
    </div>
  </div>
</div>